html, body {
    width: 50%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(4, 255, 255);
}
h1 {
    width: 500px;
    text-align: center;
    font-style: oblique;
}

.todo-list {
    width: 500px;
    margin-top: 25px;
    border: 8px rgb(253, 48, 178);
    border-style: inset;
    background-color: rgb(9, 121, 115);
    display: flex;
    align-items: center;
    flex-direction: column;

}

#toDoInput {
    width: 300px;
    height: 46px;
    border: 3px solid rgb(253, 48, 178);
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    background-color: rgb(253, 48, 178);
    margin-top: 10px;
}

#addToDo {
    height: 54px;
    width: 100px;
    border: 3px solid rgb(253, 48, 178);
    vertical-align: middle;
    font-size: 20px;
    background-color: rgb(253, 48, 178);
    margin-top: 10px;
    cursor: pointer;
}

.delete-button {
    background-color: rgb(4, 255, 255);
    margin-top: 5px;
    cursor: pointer;
}

.paragraph-styling {
    margin: 0;
    font-size: 14px;
    margin-top: 3px;
    
}